/*variables*/

//color schemes
$blanco: white;
$negro: black;
$sable: #060606;
$charcoal: #28231D;
$naranja: orange;
$tangerine:#FFAF6D;
//font family
$poppins: 'Poppins',
sans-serif;
$ubuntu: 'Ubuntu',
sans-serif;
//font weigth
$regular: 400;
$bold: 700;
// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
//breakpoints
$breakpoints: ('x-small': (min-width: 360px), 'small': (min-width: 576px), 'medium': (min-width: 768px), 'large': (min-width: 992px), 'huge': (min-width: 1200px), );