/*main*/

//main
.main__section {
    margin: 10px;
}

//main article
.main__article {
    margin: 10px;
    border: 1px;
    border-style: solid;
    &__title {
        padding: 0.5em 0;
        font-family: $ubuntu;
    }
    &__subtitle {
        padding: 0.5em 0;
        color: $negro;
    }
    p {
        padding: 0.5em 0;
        font-family: $ubuntu;
        font-weight: $regular;
    }
    i {
        padding: 0.5em 0;
        color: $negro;
    }
}

//article uno
.main__article__one {
    padding: 10px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: $charcoal;
}

//article dos
.main__article__two {
    padding: 10px;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: $charcoal;
}

//main aside
.main__aside {
    margin: 10px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    &__figure {
        width: 30%;
        border-radius: 100%;
        padding: 0.5em 0;
    }
    &__subtitle {
        display: flex;
        justify-content: center;
        padding: 0.2em 0;
        background-color: $charcoal;
        font-family: $ubuntu;
        color: $blanco;
    }
    &__title {
        padding: 0.5em 0;
        font-family: $ubuntu;
    }
    p {
        padding: 0.5em 0;
        font-family: $ubuntu;
        font-weight: $regular;
    }
    i {
        padding: 0.5em 0;
        color: $negro;
    }
}

//main figure container
.main__figure__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//main aside list
.main__aside__list {
    padding-top: 00.5em;
    padding-left: 1em;
    li {
        list-style: circle;
    }
}

//main aside image{
.main__aside__image {
    margin: 2em auto;
    width: 50%;
}